body {
  background-color: #191919;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

nav {
  padding-top: 20px;
}

.hero-section {
  background: url(../images/720-logo.jpg) 50% no-repeat;
  background-size: contain;
  background-position: center;
  height: 60vmax;
  display: flex;
  justify-content: center;
}

p {
  color: #fff;
  padding: 10px;
}

.gold-title {
  color: #fadd78;
  border-bottom: #fff 1px solid;
  margin: 0 30% 20px 30%;
}

/* header/menu start */
.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: #fff;
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  background-color: #fadd78;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #fff;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}
/* header/menu ends */

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

.logos-container {
  margin-top: 10%;
}

.img-container {
  padding: 10% 10% 3% 10%;

}

.logo {
  max-height: 360vh;
  width: auto;
}

.logo:hover, button:hover {
  opacity: 0.6;
}

h2 {
  color: #fff;
}

h2 span {
  font-size: medium;
}

button {
  background-color: #fadd78 !important;
  color: #191919 !important;
  outline: none;
}

footer {
  background-color: #191919;
  color: #8a8a8a;
  width: 100%;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

